name: golangci-lint
on:
  push:
    tags:
      - v*
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - uses: actions/checkout@v4
      - name: Fetch main branch
        run: git fetch origin main --depth=10
      - name: Run go mod tidy
        run: go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          # Pinning v2.1.6 May 4, 2025 - most recent tag as of May 7, 2025 to avoid unstable builds breaking CI
          version: v2.1.6

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: false

          # Optional: if set to true then the action will use pre-installed Go.
          # skip-go-installation: true

          # Optional: golangci-lint command line arguments.
          args: --new-from-rev=$(git merge-base origin/main HEAD) --timeout=3m
